<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Sistema Tickets</h1>
    <h2>Registro de Nuevo Usuario</h2>
    <hr>
    <form action="http://localhost:3000" method="POST">
        <p><label>Nombre:&nbsp;</label><input type='text' name='nombre' ></p>
        <p><label>Apellido:&nbsp;</label><input type='text' name='apellido' ></p>
        <p><label>Apodo/Alias:&nbsp;</label><input type='text' name='nomUsu' ></p>
        <hr>
        <p><label>Contraseña:</label><input type='text' name='pass'></p>
        <p><label>Repite Contraseña:</label><input type='text' name='repPass'></p>
        <input type="submit" value="Enviar">
    </form>
</body>
</html>