<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Sistema Checklist</h1>
    <h2>Login</h2>
    <hr>   
    <form action="http://localhost:3000/login" method="POST">
        <label for="user" >Usuario:&nbsp;</label>
        <input type="text" name="user">
        <label for="pass" name="pass">Contraseña:&nbsp;</label>
        <input type="text" name="pass">
        <input type="submit" name="cu00" value="Ingresar">
        <input type="submit" name="cu00" value="Nuevo">
    </form>
</body>
</html>