<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon">
</head>
<body>
    <pre id='intercambio' hidden><%= contenido %></pre>
    <h1>Sistema Checklist</h1>
    
    

    <pre><%= valUsu.carga.nombre %>&nbsp;<%= valUsu.carga.apellido %>&nbsp;[<%= valUsu.carga.nomUsu %>]</pre>
    <pre></pre>
    <pre></pre>
    <button onclick="volver()">Salir</button>
    <div id="cu10">
        <hr>

        <button id="colapsarNuevoControl" onclick="colapsarNuevoControl()">Nuevo Control</button>
        <div id="nuevoControl">
            <p>
            <label for="parametro">Parámetro:&nbsp;</label>
            <input type="text" name="parametro" id="parametro">
            </p>
            <p>
            <label for="periodicidad">Periodicidad:&nbsp;</label>
            <input type="number" name="periodicidad" id="periodicidad">
            </p>
            <p>
            <label>Prorrogable:</label>
            <input type="radio" id="radio11" name="prorrogable" value="si">
            <label for="radio1">Sí</label>
            <input type="radio" id="radio12" name="prorrogable" value="no">
            <label for="radio2">No</label>
            </p>
            <p>
            <label>Reajustable:</label>
            <input type="radio" id="radio21" name="reajustable" value="si">
            <label for="radio1">Sí</label>
            <input type="radio" id="radio22" name="reajustable" value="no">
            <label for="radio2">No</label>
            </p>
            <p><label>A partir de:&nbsp;</label><input type="date"  id="desde" name="desde"></p>

            <button onclick="cu10_nuevoControl()">Agregar</button>
        </div>
        <script>
            const divParCer = []; //Global cerrar todos los divs
            const miDiv = document.getElementById('nuevoControl');

            divParCer.push(miDiv);
            miDiv.style.display = 'none';

            function colapsarNuevoControl(){
                
                if (miDiv.style.display === 'none') {
                    cerrarDivs();
                    miDiv.style.display = 'block'; // Cambia a 'block' para mostrar el contenido
                } else {
                    miDiv.style.display = 'none'; // Cambia a 'none' para ocultar el contenido
                }
                
            }
        </script>

        <hr>

        <button onclick="activarListarControles()" id="button_cu11">Mis controles</button> <!-- ya -->
        <div id="cu11_listarControles"></div>
        <script>
            
            const divLisCon = document.getElementById('cu11_listarControles');
            divLisCon.style.display = 'none';

            divParCer.push(divLisCon);

            function activarListarControles(){
                cuActivo = "11";
                document.getElementById('button_cu11').removeAttribute('disabled');

                if(divLisCon.style.display === 'none'){
                    cerrarDivs();
                    divLisCon.style.display = 'block'; // Cambia a 'block' para mostrar el contenido
                    cu11_listarControles()
                } else {
                    divLisCon.style.display = 'none'; // Cambia a 'none' para ocultar el contenido    
                }
            }
        </script>

        <!-- button onclick='cu12_actualizarControles()'>Actualizar</button -->

        <hr>
        <button onclick="activarListarVerificadores()" id='button_cu13'>Mis Verificadores</button> <!-- ya_ -->
        <div id="cu13_listarVerificadores"></div>

        <script>
            const divLisVer = document.getElementById('cu13_listarVerificadores');
            divLisVer.style.display = 'none';

            divParCer.push(divLisVer);

            function activarListarVerificadores(){
                cuActivo = "13";
                if(divLisVer.style.display === 'none'){
                    cerrarDivs();
                    divLisVer.style.display = 'block';
                    cu13_listarVerificadores();
                }else{
                    divLisVer.style.display = 'none'
                }
            }
        </script>

        <hr><!-- cu14 -->
        <button onclick='activarNuevaLista()'>Nueva Lista</button>
        <div id="divNuevaLista">
            <p><label>Nombre de Mi Nueva Lista: &nbsp;</label><input type="text" id="cu14_input"></p>
            <button onclick="cu14_nuevaLista()">Crear</button>
        </div>
        <script>
            const divNueLis = document.getElementById('divNuevaLista');
            divNueLis.style.display = 'none';
            
            divParCer.push(divNueLis);

            function activarNuevaLista(){

                if(divNueLis.style.display === 'none'){
                    cuActivo = "14";
                    cerrarDivs();
                    divNueLis.style.display = 'block';
                    cu13_listarVerificadores();
                    divLisVer.style.display = 'block';
                    cu11_listarControles();               
                    divLisCon.style.display = 'block';
                    document.getElementById('button_cu11').setAttribute('disabled','true'); // ya_
                    document.getElementById('button_cu13').setAttribute('disabled','true'); // ya_
                    
                }else{

                    document.getElementById('button_cu11').removeAttribute('disabled'); // ya_                     
                    document.getElementById('button_cu13').removeAttribute('disabled'); // ya_                     
                    divNueLis.style.display = 'none';
                    divLisVer.style.display = 'none';
                    divLisCon.style.display = 'none';
            
                }
            }
        </script>

        <hr><!-- cu16 -->

        <p><button onclick="activarMostrarListas()">Mis Listas:</button></button></p> <!--  hoy_ -->
        <div id="cu15_listarListas"></div>

        <script>
            const divMosMis = document.getElementById('cu15_listarListas');
            divMosMis.style.display = 'none';

            divParCer.push(divMosMis);
            
            function activarMostrarListas(){
                
                if(divMosMis.style.display === 'none'){
                    cerrarDivs();
                    divMosMis.style.display = 'block';
                    cu15_listarListas()
                }else{
                    divMosMis.style.display = 'none';
                }
            }

        </script>

        <dialog>
            <div id="modal"></div>
            <button onclick="document.querySelector('dialog').close()">Cerrar</button>
            &nbsp;&nbsp;&nbsp;
            <button onclick='cu16_modificarLista()'>Actualizar</button>  <!--    --> 
        </dialog>

        <hr>
        <button onclick='activarVerificar()'>Listas para Verificar</button> 
        <div id="cu17_listasVerificar"></div>
      
        
        <hr>
        <script>
            const divVerVer = document.getElementById('cu17_listasVerificar');
            divVerVer.style.display = 'none';

            divParCer.push(divVerVer);

            function activarVerificar(){ 
             
                if(divVerVer.style.display === 'none'){

                    cu17_listasVerificar();  
                }else{
                    divVerVer.style.display = 'none';
                }

            }
        </script>

        <hr>
        <button onclick='reset()' disabled>Reset</button>

        <script>
            function reset(){
                let layer0 = {};

                let layer1 = {}
                layer1.cu = "reset"
                layer1.carga = layer0
                layer1.usuario = user

                fetch('http://localhost:3000/api',{
                    method: 'POST',
                    body: JSON.stringify(layer1),
                    headers: {'Content-Type' : 'application/json'}
                })
            }
        </script>

        <!-- Cierra todos div's que no se ocupan -->
        <script>
            function cerrarDivs(){
                for(var i=0 ; i<divParCer.length ; i++){
                    divParCer[i].style.display = 'none'
                }
            }
        </script>
          
    </div>
    <script>

        var str_data = document.getElementById('intercambio').innerText;
        console.log(str_data);
        let user = JSON.parse(str_data)
        console.log(user);

        document.getElementById('radio11').checked = true;
        document.getElementById('radio12').checked = false;
        document.getElementById('radio21').checked = false;
        document.getElementById('radio22').checked = true;

        function cu10_nuevoControl(){
            let cu10Nombre = document.getElementById('parametro').value;
            document.getElementById('parametro').value = "";
            //console.log(cu10Nombre);

            let per = document.getElementById('periodicidad').value;
            document.getElementById('periodicidad').value = "";
            //console.log(per)

            pro = document.getElementsByName('prorrogable');
            let prorrogable = false;
            pro[0].checked?prorrogable=true:prorrogable=false;
            document.getElementsByName('prorrogable').checked = false
            //console.log(prorrogable);

            rea = document.getElementsByName('reajustable');
            let reajustable = false;
            rea[0].checked? reajustable=true:null;
            console.log(reajustable);

            document.getElementById('radio11').checked = true;
            document.getElementById('radio12').checked = false;
            document.getElementById('radio21').checked = false;
            document.getElementById('radio22').checked = true;

            des = document.getElementById('desde').value;
            document.getElementById('desde').value = ""
            // console.log(des)
            // console.log(JSON.stringify(des))

            console.log(cu10Nombre);
            console.log(per);
            console.log(pro);
            console.log(rea);
            console.log(des);
            if(cu10Nombre != "" && per != "" && des != ""){
                let layer0 = {}
                layer0.parametro = cu10Nombre
                layer0.periodicidad = per
                layer0.prorrogable = prorrogable
                layer0.reajustable = reajustable
                layer0.desde = des

                let layer1 = {}
                layer1.cu = "nuevoControl"
                layer1.carga = layer0
                layer1.usuario = user

                fetch('http://localhost:3000/api',{
                    method: 'POST',
                    body: JSON.stringify(layer1),
                    headers: {'Content-Type' : 'application/json'}
                }).then(data=>{cuActivo !== "15"?  cu11_listarControles():matObj = data})  
                //20231205
            }else{
                alert("Debe completar los campos!")
            }
        }

        function cu11_listarControles(){
           
            // let listaControles = document.getElementById('cu11_listarControles').innerHTML == '';
            // console.log(listaControles);
            // if(listaControles){
                
                let layer0 = {}

                let layer1 = {}
                layer1.cu = "cu11_listarControles"
                layer1.carga = layer0
                layer1.usuario = user

                fetch('http://localhost:3000/api',{
                    method: 'POST',
                    body: JSON.stringify(layer1),
                    headers: {'Content-Type' : 'application/json'}
                })
                .then(data=>data.json())
                //.then(data=>{console.log(cuActivo); cuActivo !== "15"? listarControles(data[0]):matObj=data[0].controles;})
                .then(data=>{marCon = []; listarControles(data[0])});
            // }else{
            //     console.log("running else....")
            //     document.getElementById('cu11_listarControles').value == "";
            // }

        }

        // cu12 ---------------------------

        function cu12_actualizarControles(){
            //alert('implementar...')
            let layer0 = matObj;

            let layer1 = {}
            layer1.cu = "cu12_actualizarControles"
            layer1.carga = layer0
            layer1.usuario = user

            fetch('http://localhost:3000/api',{
                method: 'POST',
                body: JSON.stringify(layer1),
                headers: {'Content-Type' : 'application/json'}
            })

            
        }

        let matObj = []; // Global  
        function listarControles(data){
            //console.log(data);
            matObj = data.controles; 
            if(cuActivo !== "15"){        
            armarDisplay(data.controles)
            }

        }

        let marCon = [];

        function armarDisplay(matObj){
            //alert("armarDisplay: "+cuActivo)
            var display = document.getElementById('cu11_listarControles');
            // construyo los botones a partir del vector
            var btn = ""
            var str1 ="" //Marca la x o el espacio en el botón
            var str2 = "";
            for(var i=0 ; i<matObj.length ; i++){
                var strObj = JSON.stringify(matObj[i]);

                marCon[i]==true?str1="X":str1="&nbsp;"

                cuActivo == "11"?str2 = "":"";
                cuActivo == "14"?str2 = "<button id='"+strObj+"' onclick='seleccionar(this)'>"+str1+"</button>&nbsp;":"";

                btn += "<p>"+str2+ 
                    "<label>"+matObj[i].parametro+
                    "<button id='"+strObj+"' onclick='periodicidad(this)'>"+matObj[i].periodicidad+"</button>"+                 
                    "<button id='"+strObj+"' onclick='prorrogable(this)'>"+    matObj[i].prorrogable+"</button>"+
                    "<button id='"+strObj+"' onclick='reajustable(this)'>"+    matObj[i].reajustable+"</button>"+
                    "<button id='"+strObj+"' onclick='eliminar(this)'>"+    "Eliminar"+"</button>"+
                    "</p>"
                    

            }
            if("11" == cuActivo){
                btn += "<button onclick='cu12_actualizarControles()' id='cu12_actualizarControles'>Actualizar</button>"; // ya_
            }

            display.innerHTML = btn
        }

        function seleccionar(data){
            //console.log(JSON.parse(data.getAttribute('id')));
            let objSel = JSON.parse(data.getAttribute('id'));
            for(var i=0 ; i<matObj.length ; i++){
                if(matObj[i].parametro == objSel.parametro){
                    marCon[i] == true?marCon[i]=null:marCon[i]=true;
                }
            }
            console.log(marCon);
            armarDisplay(matObj)
        }

        function periodicidad(data){
            
            var newObj = JSON.parse(data.getAttribute('id'))

            let nuevaPeriodicidad    = prompt('Ingrese nuevo valor en días:')
            console.log(nuevaPeriodicidad);
            if(nuevaPeriodicidad){
                newObj.periodicidad =nuevaPeriodicidad 
            }
                             

            remMos(newObj)
        }        

        function prorrogable(data){
            
            var newObj = JSON.parse(data.getAttribute('id'))

            newObj.prorrogable?newObj.prorrogable = false : newObj.prorrogable = true ;

            remMos(newObj)
            
        }

        function reajustable(data){
            var newObj = JSON.parse(data.getAttribute('id'))

            newObj.reajustable?newObj.reajustable = false : newObj.reajustable = true ;

            remMos(newObj)            
        }

        function eliminar(data){
            var newObj = JSON.parse(data.getAttribute('id'))

            var newMatObj = matObj.filter(x=>x.parametro != newObj.parametro)

            matObj = newMatObj
            armarDisplay(matObj)
        }

        function remMos(newObj){
            for(var i=0 ; i<matObj.length ; i++){
                if(matObj[i].parametro == newObj.parametro){
                    matObj[i] = newObj
                }
            }
            armarDisplay(matObj)            
        }

        // cu13 ---------------------------


        function cu13_listarVerificadores(){

            let layer0 = {}

            let layer1 = {}
            layer1.cu = "cu13_listarVerificadores"
            layer1.carga = layer0
            layer1.usuario = user

            fetch('http://localhost:3000/api',{
                method: 'POST',
                body: JSON.stringify(layer1),
                headers: {'Content-Type' : 'application/json'}
            })
            .then(data=>data.json())
            //.then(data=>console.log(data))
            .then(data=>{console.log(cuActivo); matMar = [];cuActivo !== "15"?listarVerificadores(data):matVer=data;})
            //.then(data=>{console.log(cuActivo); matMar = [];cuActivo == "13"?matVer=data:listarVerificadores(data);})
           
        }

        let matVer = []  // Global Vector con Verificadores
        let matMar = []  // Verificadores seleccionados.



        
        function listarVerificadores(data){
             matVer = data;
            if(cuActivo == "13"){ // ya_
                let disVer = document.getElementById('cu13_listarVerificadores');
                let str  = "";
                let str2 = "";
                let str3 = "";
                
                for(var i=0 ; i<data.length ; i++){

                    matMar[i]== null ? str3 = "&nbsp;" : str3 = "X";
                    str2 = JSON.stringify(data[i])
                    str += "<p>" + data[i].nombre + " "+data[i].apellido+ "</p>"
                }

                disVer.innerHTML = str;
            }

            if(cuActivo == "14"){ // ya_
                let disVer = document.getElementById('cu13_listarVerificadores');
                let str  = "";
                let str2 = "";
                let str3 = "";
                
                for(var i=0 ; i<data.length ; i++){

                    matMar[i]== null ? str3 = "&nbsp;" : str3 = "X";
                    str2 = JSON.stringify(data[i])
                    str += "<p><button onclick='selVer(this)' "+
                        "id='"+str2+"'"+
                        ">"+str3+"</button>&nbsp;" + data[i].nombre + " "+data[i].apellido+ "</p>"
                }

                disVer.innerHTML = str;
            }
        
        }

        function selVer(data){
            console.log("corriendo selVer(data)")
            // Obtengo el objeto
            let eveObj = JSON.parse(data.getAttribute('id'));
            console.log("eveObj")
            console.log(eveObj)
            console.log("matVer")
            console.log(matVer)
            // Recorro el vector de objetos para ver cuál es el seleccionado
            let i=-1
            do{
                i += 1;    
            } while(matVer[i].nomUsu != eveObj.nomUsu);

            //console.log(i)

            // cambio el estado de marca
            matMar[i]==null?matMar[i]=true:matMar[i]=null;
            
            console.log(matMar);
            listarVerificadores(matVer)
        }
        
        // cu14 Nueva Lista

        function cu14_nuevaLista(){  
            console.log("cu14 Nueva Lista")
            cuActivo = "14";

           // Colectar los usuarios seleccionados            
            let lisVer = []//Objeto Lista - atributo Verificadores
            for(var i=0 ; i<matMar.length ; i++){
                matMar[i]?lisVer.push(matVer[i]):null;
            }
            console.log("lisVer")
            console.log(lisVer)

            // Colectar los controles seleccionados
            let lisCon = []
            for(var i=0 ; i<matObj.length ; i++){
                marCon[i]?lisCon.push(matObj[i]):null;
            }
            console.log("lisCon")
            console.log(lisCon)

            // Colecto el nombre de la lista
            let nombreLista = document.getElementById('cu14_input').value;
            console.log("nombreLista");
            console.log(nombreLista);

            // Valido el envío
            let boolLisVer = lisVer.length == 0;
            let boolLisCon = lisCon.length == 0;
            let boolNom = nombreLista == "";
            if(boolLisVer || boolLisCon || boolNom){
                alert("Debe completar datos de la lista.");
            }else{
                // crear un objeto js con los datos recopilados del formulario
                let lis = {}
                lis.autor = user
                lis.nombre = nombreLista;
                lis.controles =     lisCon;
                lis.observadores =  [];
                lis.verificadores=  lisVer;
                console.log(lis)

                // Creo el paquete
                let layer0 = lis

                let layer1 = {}
                layer1.cu = "cu14_nuevaLista"
                layer1.carga = layer0
                layer1.usuario = user

                // fetch('http://localhost:3000/api',{
                //     method: 'POST',
                //     body: JSON.stringify(layer1),
                //     headers: {'Content-Type' : 'application/json'}
                // })

                cu14_nuevaLista2(layer1);
            }

            matMar = [];
            matVer = [];
            marCon = [];
            lisCon = []; 
            document.getElementById('cu14_input').value = "";
            document.getElementById('button_cu11').removeAttribute('disabled'); // ya_                     
            document.getElementById('button_cu13').removeAttribute('disabled'); // ya

            cerrarDivs();
            //ya_
        }

        function cu14_nuevaLista2(layer1){ 
            fetch('http://localhost:3000/api',{
                    method: 'POST',
                    body: JSON.stringify(layer1),
                    headers: {'Content-Type' : 'application/json'}
            })
            .then(data=>data.json)
            .then(document.querySelector('dialog').close())
            .then(cu15_listarListas())
        }

        // cu15 Listar Listas
        
        let estLisDes = false // Gloabal: El estado de las listas desplegadas

        function cu15_listarListas(){
            // estLisDes = document.getElementById('cu15_listarListas').innerHTML == '';
            // if(estLisDes){
                let layer0 = {}

                let layer1 = {}
                layer1.cu = "cu15_listarListas"
                layer1.carga = layer0
                layer1.usuario = user

                fetch('http://localhost:3000/api',{
                    method: 'POST',
                    body: JSON.stringify(layer1),
                    headers: {'Content-Type' : 'application/json'}
                })
                .then(data=>data.json())
                // data es una colección de listas de las que soy autor
                .then(data=>listarListas(data))
    
        }

        let lisLis = []  // Global Coleccion de listas de las que soy autor
        let lisMar = []  // Verificadores seleccionados.            
        

        function listarListas(data){
            //cu15
            lisLis = data;
            console.log("state listarListas");
            console.log("-> listarListas");

            cuActivo = "15";
            cu13_listarVerificadores();
            cu11_listarControles();

            let porcentaje = []

            for(var i=0 ; i<data.length ; i++){
                var hoy = new Date();
                var otro;
                var num = 0;
                var den = 0;

                for(var j=0 ; j<data[i].controles.length ; j++){
                    otro = new Date(data[i].controles[j].ultimaVer)
                    var difDias = parseInt( (hoy.getTime()-otro.getTime() )/(1000*60*60*24))
                    var regresiva = data[i].controles[j].periodicidad - difDias;
                    // creo una variable intermedia de cuenta
                    let bandera = difDias > data[i].controles[j].periodicidad
                    den +=1;
                    bandera?num += 1:null;
                }
                porcentaje[i]=(100-num/den*100).toFixed(2)
                
            }

            let str = "";
            for(var i=0 ; i<data.length ; i++){

                let str2 = JSON.stringify(data[i]);
                console.log("\n"+data[i].nombre)
                str += "<p><b>"+data[i].nombre+"</b>&nbsp;"+
                    " <button id='"+str2+"' onclick='verLista(this)'>"+porcentaje[i]+" % </button>"+
                    " <button id='"+str2+"' onclick='modificarLista(this)'>Modificar</button>&nbsp; "+
                    " <button id='"+str2+"' onclick='borrarLista(this)'>Eliminar</button>&nbsp; "+
                    "   </p>";
                
                console.log("Verificadores:")
                
                str += "<div id='div_"+str2+"' hidden>"

                str += "<p><u>Verificadores:</u></p>"
                str += "<ul>"
                for(var j=0 ; j<data[i].verificadores.length ; j++){
                    console.log("  "+data[i].verificadores[j].nombre)
                    str += "<li>  "+data[i].verificadores[j].nombre+"</li>"
                }
                str += "</ul>"
                str += "<p><u>Controles:</u></p>";

                var hoy = new Date();
                var otro;
                var num = 0;
                var den = 0;

                str += "<ul>"
                for(var j=0 ; j<data[i].controles.length ; j++){

                    otro = new Date(data[i].controles[j].ultimaVer)

                    var difDias = parseInt( (hoy.getTime()-otro.getTime() )/(1000*60*60*24))

                    var regresiva = data[i].controles[j].periodicidad - difDias;

                    // creo una variable intermedia de cuenta
                    let bandera = difDias > data[i].controles[j].periodicidad
                    bandera ? str3='red':str3='blue';

                    den +=1;
                    bandera?num += 1:null;
                    
                    console.log("  "+data[i].controles[j].parametro+"  difDias: "+difDias)
                    if(regresiva>0){
                    str += "<li style='color: "+str3+";'>  "+data[i].controles[j].parametro+
                    " - Verificación: "+difDias+" faltan: "+regresiva+"</li>"
                    }else{
                    str += "<li style='color: "+str3+";'>  "+data[i].controles[j].parametro+
                    " - Verificación: "+difDias+"</li>"                        
                    }
                }

                str += "</ul>"
                str += "</div>"
            }
            document.getElementById('cu15_listarListas').innerHTML = str;
        }

        function verLista(arg){
            
            let eleHtm = document.getElementById('div_'+arg.getAttribute('id')) ;

            if(eleHtm.getAttribute('hidden') !== null){
                eleHtm.removeAttribute('hidden') ;
            }else{
                eleHtm.setAttribute('hidden','true');
            }
            
        }
        
        // cu16 

        let cuActivo = "";  // Gloabal Caso de uso que se está ejecutando

        function borrarLista(data){
            cuActivo = "19"
            let lisBor = JSON.parse(data.getAttribute('id'));
            console.log(lisBor.nombre);

            var resultado = window.confirm('¡Va a eliminar la lista: '+lisBor.nombre+"!");

            if (resultado === true) {
            
                let newLisLis = lisLis.filter(x=>x.nombre != lisBor.nombre);
                newLisLis.forEach(element => {console.log(element.nombre)});
                lisLis = newLisLis;
                listarListas(lisLis);
                cu19_borrarLista(lisBor); 
            } else {
            

            }
        }

        function cu19_borrarLista(data){
            let layer0 = data

            let layer1 = {}
            layer1.cu = "cu19_borrarLista"
            layer1.carga = layer0
            layer1.usuario = user

            fetch('http://localhost:3000/api',{
            method: 'POST',
            body: JSON.stringify(layer1),
            headers: {'Content-Type' : 'application/json'}
            })
            //.then(data=>data.json())
            //.then(data=>mostrarVerificar(data))

        }

        let transporte; // Gloabal para cu16 Modificar lista

        function modificarLista(arg1){  
            console.log("-> modificarLista(arg)")
            console.log(arg1);
            cuActivo = "19";

            var lis = JSON.parse(arg1.getAttribute('id'))  
            modificarLista_i(lis);
        }

        function modificarLista_i(lis){  
            transporte = lis;
            let modal = document.getElementById('modal');

            var str_id;
            var str = "<h2>"+lis.nombre+"</h2>\n"

            let strBot = "";
            let bandera = false;
            
            str +="<b>Verificadores</b>\n";
 
            for(var i=0 ; i<matVer.length ; i++){
                bandera = false;

                for(var j=0 ; j<lis.verificadores.length ; j++){
                    
                    if(matVer[i].nombre == lis.verificadores[j].nombre ){
                        bandera = true;
                    }
                }

                bandera?strBot="X":strBot="&nbsp;";

                str_id = JSON.stringify(matVer[i])

                str += "<p><button id='"+str_id+"' onclick='addVerificador(this)'>"+strBot+"</button>&nbsp;"+matVer[i].nombre+" "+matVer[i].apellido+"</p> \n";
                
            }   

            str += "<b>Controles: </b>\n";
            str +="\n";

            for(var i=0 ; i<matObj.length ; i++){

                bandera = false;
                for(var j=0 ; j<lis.controles.length; j++){

                    if(matObj[i].parametro == lis.controles[j].parametro){
                        bandera = true;
                    }
                }

                bandera?strBot="X":strBot="&nbsp;";

                str_id = JSON.stringify(matObj[i]);

                str += "<p><button id='"+str_id+"' onclick='addControl(this)'>"+
                    strBot+"</button>&nbsp;"+matObj[i].parametro+"</p> \n";

            }

            modal.innerHTML = str;
            document.querySelector('dialog').showModal()
        }

        function addControl(arg){
            var str_mod_con = arg.getAttribute('id')
            var obj_mod_con = JSON.parse(str_mod_con)
            console.log('Seleccionaste: '+str_mod_con)
            console.log("transporte");
            console.log(transporte);
            console.log("obj_mod_con");
            console.log(obj_mod_con);
            let filte = transporte.controles.filter(x=>x.parametro == obj_mod_con.parametro)
            console.log(filte.length);
            if(filte.length == 0){
                transporte.controles.push(obj_mod_con);
            }else{
                transporte.controles = transporte.controles.filter(x=>x.parametro != obj_mod_con.parametro)
            }
            console.log("transporte");
            console.log(transporte);
            modificarLista_i(transporte);
        }

        function addVerificador(arg){
            var obj_mod_ver = JSON.parse(arg.getAttribute('id'));
            let filte = transporte.verificadores.filter(x=>x.nombre == obj_mod_ver.nombre)
            console.log(filte.length)
            if(filte.length == 0){
                transporte.verificadores.push(obj_mod_ver);
            }else{
                transporte.verificadores = transporte.verificadores.filter(x=>x.nombre != obj_mod_ver.nombre)
            }
            modificarLista_i(transporte);
        }
     
        function cu16_modificarLista(){ 
            let layer0 = transporte

            let layer1 = {}
            layer1.cu = "cu14_nuevaLista"
            layer1.carga = layer0
            layer1.usuario = user


            cu14_nuevaLista2(layer1);
        }

        function cenColeccion_x(elemento, coleccion){
            console.log("elemento")
            console.log(elemento)
            console.log("coleccion")
            console.log(coleccion)
            let i=0;
            let vdrx = false;
            do{
                console.log("i: "+i)
                console.log(coleccion[i].parametro);
                console.log(elemento.parametro);
                vdrx = (coleccion[i].parametro == elemento.parametro);
                //vdrx = (elemento.parametro == elemento.parametro);
                i=i+1;
                console.log("vdr")
                console.log(vdrx)
            }while(!(vdrx || i<coleccion.length))
            return vdrx;
        }
    
        function cu17_listasVerificar(){  
 
                let layer0 = {}

                let layer1 = {}
                layer1.cu = "cu17_listasVerificar"
                layer1.carga = layer0
                layer1.usuario = user

                fetch('http://localhost:3000/api',{
                    method: 'POST',
                    body: JSON.stringify(layer1),
                    headers: {'Content-Type' : 'application/json'}
                })
                .then(data=>data.json())
                .then(data=>mostrarVerificar(data))
 
        }

        function mostrarVerificar(data){  
            console.log(data);

            let str ="";
            let strId = "";
            for(var i=0 ; i<data.length ; i++){
                const obj  = {}
                console.log(data[i]);
                //console.log("Nombre de la Lista: "+data[i].nombre)
                str += "<hr><p>Nombre de la Lista: <b>"+data[i].nombre+ "</b></p>";
                obj.nombre = data[i].nombre;

                //console.log("Lista solicitada por: "+data[i].autor.nombre);
                str += "<p><b>Lista solicitada por: </b>"+data[i].autor.nombre + "</p>";
                obj.autor = data[i].autor.nomUsu

                console.log("Verificadores: ")
                
                let str2 = ""
                for(var j=0 ; j<data[i].verificadores.length ; j++ ){
                    //console.log(data[i].verificadores[j].nombre)
                    str2 += " "+data[i].verificadores[j].nombre
                }
                str += "</p><b>Verificadores:</b>"+str2+" </p>"

                //console.log("Lista de parámetros: ")
                str +="<p>Lista de parámetros:&nbsp;</p>"
                str2 = "";
                for(var j=0 ; j<data[i].controles.length ; j++){
                    console.log(data[i].controles[j].parametro)
                    obj.parametro = data[i].controles[j].parametro;
                    let strId = JSON.stringify(obj);
                    //str2 +="<li><input type='checkbox'>"+data[i].controles[j].parametro+"</li>"
                    str +="<p><button id='"+strId+
                        "' onclick='cu18_procesar(this)' style='background-color: green; color: white;'>&nbsp;</button>&nbsp;"+data[i].controles[j].parametro+"</p>"

                }
            }
            str += "<button onclick='cu18_actualizarDB()'>Verificado</button>"

            document.getElementById('cu17_listasVerificar').innerHTML = str;

            cerrarDivs();
            divVerVer.style.display = 'block';
        }
    
        let swCheck = [] //Parámetros de las Listas del Autor

        function cu18_procesar(arg){
            console.log("-> cu18_procesar(arg)  --------------");
            
            // Obtengo el control para verificar
            let idBoton = arg.getAttribute('id')
            let verificando = JSON.parse(idBoton);

            // Observo si el control ya está en el 
            let filtrado2 = [];
            let filtrado = swCheck.filter(x=>x.nombre == verificando.nombre && x.autor == verificando.autor && x.parametro == verificando.parametro)
            console.log("filtrado.length")
            console.log( filtrado.length )
            if(filtrado.length == 0){
                swCheck.push(verificando)
                document.getElementById(idBoton).innerText = "X";
            }else{
                filtrado2 = swCheck.filter(x=>!(x.nombre == verificando.nombre && x.autor == verificando.autor && x.parametro == verificando.parametro));
                swCheck = filtrado2;
                document.getElementById(idBoton).innerHTML = "&nbsp;";
            }
            
            
            console.log(swCheck);
        }

        function cu18_actualizarDB(){
            console.log("cu18_actualizarDB()");

            let layer0 = swCheck;

            let layer1 = {}
            layer1.cu = "cu18_verificado"
            layer1.carga = layer0
            layer1.usuario = user

            fetch('http://localhost:3000/api',{
                method: 'POST',
                body: JSON.stringify(layer1),
                headers: {'Content-Type' : 'application/json'}
            })
            
            cerrarDivs();
        }

        
    </script>
    
    

    <script>
        function volver(){
            location.href = "http://localhost:3000";
        }
    </script>
</body>
</html>