<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Sistema Checklist</h1>
    <h2>Menú:</h2>
    <hr>   
    <pre><%= contenido %></pre>
    <pre><%= valUsu.carga.nombre %></pre>
    <pre><%= valUsu.carga.apellido %></pre>
    <pre><%= valUsu.carga.nomUsu %></pre>
    <button onclick="volver()">Salir</button>
    

    <script>
        function volver(){
            location.href = "http://localhost:3000";
        }
    </script>
</body>
</html>