<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Sistema Checklist</h1>
    <h2>Menú:</h2>
    <hr>   
    <pre id='intercambio'><%= contenido %></pre>
    <pre><%= valUsu.carga.nombre %></pre>
    <pre><%= valUsu.carga.apellido %></pre>
    <pre><%= valUsu.carga.nomUsu %></pre>
    <button onclick="volver()">Salir</button>
    <div id="cu10">
        <hr>
        <h2>Nuevo Control</h2>
        <p>
        <label for="parametro">Parámetro:&nbsp;</label>
        <input type="text" name="parametro" id="parametro">
        </p>
        <p>
        <label for="periodicidad">Periodicidad:&nbsp;</label>
        <input type="number" name="periodicidad" id="periodicidad">
        </p>
        <p>
        <label>Prorrogable:</label>
        <input type="radio" id="radio11" name="prorrogable" value="si">
        <label for="radio1">Sí</label>
        <input type="radio" id="radio12" name="prorrogable" value="no">
        <label for="radio2">No</label>
        </p>
        <p>
        <label>Reajustable:</label>
        <input type="radio" id="radio21" name="reajustable" value="si">
        <label for="radio1">Sí</label>
        <input type="radio" id="radio22" name="reajustable" value="no">
        <label for="radio2">No</label>
        </p>
        <p><label>A partir de:&nbsp;</label><input type="date"  id="desde" name="desde"></p>

        <button onclick="cu10_nuevoControl()">Agregar</button>
        <hr>

        <button onclick="cu11_listarControles()">Mis controles</button>
        <!--<button onclick="cu12_eliminarControles()">Eliminar</button> eliminados el 20231205 -->
        <!--<button onclick="cu13_modificarControles()">Modificar</button> eliminados el 20231205 -->

        <div id="cu11_listarControles"></div>

        <button onclick='cu12_actualizarControles()'>Actualizar</button>

        <hr>
        <button onclick="cu13_listarVerificadores()">Mis Verificadores</button>
        <div id="cu13_listarVerificadores"></div>

        
    </div>
    <script>

        var str_data = document.getElementById('intercambio').innerText;
        console.log(str_data);
        let user = JSON.parse(str_data)
        console.log(user);


        function cu10_nuevoControl(){
            let cu10Nombre = document.getElementById('parametro').value;
            document.getElementById('parametro').value = "";
            //console.log(cu10Nombre);

            let per = document.getElementById('periodicidad').value;
            document.getElementById('periodicidad').value = "";
            //console.log(per)

            pro = document.getElementsByName('prorrogable');
            let prorrogable = false;
            pro[0].checked?prorrogable=true:prorrogable=false;
            document.getElementsByName('prorrogable').checked = false
            //console.log(prorrogable);

            rea = document.getElementsByName('reajustable');
            let reajustable = false;
            rea[0].checked? reajustable=true:null;
            console.log(reajustable);

            document.getElementById('radio11').checked = false
            document.getElementById('radio12').checked = false
            document.getElementById('radio21').checked = false
            document.getElementById('radio22').checked = false

            des = document.getElementById('desde').value;
            document.getElementById('desde').value = ""
            // console.log(des)
            // console.log(JSON.stringify(des))

            let layer0 = {}
            layer0.parametro = cu10Nombre
            layer0.periodicidad = per
            layer0.prorrogable = prorrogable
            layer0.reajustable = reajustable
            layer0.desde = des

            let layer1 = {}
            layer1.cu = "nuevoControl"
            layer1.carga = layer0
            layer1.usuario = user

            fetch('http://localhost:3000/api',{
                method: 'POST',
                body: JSON.stringify(layer1),
                headers: {'Content-Type' : 'application/json'}
            }).then(cu11_listarControles())  // 20231205

        }

        function cu11_listarControles(){
            //alert('running listar controles...')
            let layer0 = {}

            let layer1 = {}
            layer1.cu = "cu11_listarControles"
            layer1.carga = layer0
            layer1.usuario = user

            fetch('http://localhost:3000/api',{
                method: 'POST',
                body: JSON.stringify(layer1),
                headers: {'Content-Type' : 'application/json'}
            })
            .then(data=>data.json())
            .then(data=>listarControles(data[0]))

        }

        // cu12 ---------------------------

        function cu12_actualizarControles(){
            //alert('implementar...')
            let layer0 = matObj;

            let layer1 = {}
            layer1.cu = "cu12_actualizarControles"
            layer1.carga = layer0
            layer1.usuario = user

            fetch('http://localhost:3000/api',{
                method: 'POST',
                body: JSON.stringify(layer1),
                headers: {'Content-Type' : 'application/json'}
            })

            
        }

        let matObj = []; // Global

        function listarControles(data){
            //console.log(data);
            matObj = data.controles;            
            armarDisplay(data.controles)

        }

        let marCon = [];

        function armarDisplay(matObj){
            var display = document.getElementById('cu11_listarControles');
            // construyo los botones a partir del vector
            var btn = ""
            var str1 =""
            for(var i=0 ; i<matObj.length ; i++){
                var strObj = JSON.stringify(matObj[i]);
                marCon[i]==true?str1="X":str1="&nbsp;"
                btn += "<button id='"+strObj+"' onclick='seleccionar(this)'>"+str1+"</button>&nbsp;"+ 
                    "<label>"+matObj[i].parametro+
                    "<button id='"+strObj+"' onclick='periodicidad(this)'>"+matObj[i].periodicidad+"</button>"+                 
                    "<button id='"+strObj+"' onclick='prorrogable(this)'>"+    matObj[i].prorrogable+"</button>"+
                    "<button id='"+strObj+"' onclick='reajustable(this)'>"+    matObj[i].reajustable+"</button>"+
                    "<button id='"+strObj+"' onclick='eliminar(this)'>"+    "Eliminar"+"</button>"+
                    "<br>"
            }
            display.innerHTML = btn
        }

        function seleccionar(data){
            console.log(JSON.parse(data.getAttribute('id')));
            let objSel = JSON.parse(data.getAttribute('id'));
            for(var i=0 ; i<matObj.length ; i++){
                if(matObj[i].parametro == objSel.parametro){
                    marCon[i] == true?marCon[i]=null:marCon[i]=true;
                }
            }
            console.log(marCon);
            armarDisplay(matObj)
        }

        function periodicidad(data){
            
            var newObj = JSON.parse(data.getAttribute('id'))

            let nuevaPeriodicidad    = prompt('Ingrese nuevo valor en días:')
            console.log(nuevaPeriodicidad);
            if(nuevaPeriodicidad){
                newObj.periodicidad =nuevaPeriodicidad 
            }
                             

            remMos(newObj)
        }        

        function prorrogable(data){
            
            var newObj = JSON.parse(data.getAttribute('id'))

            newObj.prorrogable?newObj.prorrogable = false : newObj.prorrogable = true ;

            remMos(newObj)
            
        }

        function reajustable(data){
            var newObj = JSON.parse(data.getAttribute('id'))

            newObj.reajustable?newObj.reajustable = false : newObj.reajustable = true ;

            remMos(newObj)            
        }

        function eliminar(data){
            var newObj = JSON.parse(data.getAttribute('id'))

            var newMatObj = matObj.filter(x=>x.parametro != newObj.parametro)

            matObj = newMatObj
            armarDisplay(matObj)
        }

        function remMos(newObj){
            for(var i=0 ; i<matObj.length ; i++){
                if(matObj[i].parametro == newObj.parametro){
                    matObj[i] = newObj
                }
            }
            armarDisplay(matObj)            
        }

        // cu13 ---------------------------


        function cu13_listarVerificadores(){

            let layer0 = {}

            let layer1 = {}
            layer1.cu = "cu13_listarVerificadores"
            layer1.carga = layer0
            layer1.usuario = user

            fetch('http://localhost:3000/api',{
                method: 'POST',
                body: JSON.stringify(layer1),
                headers: {'Content-Type' : 'application/json'}
            })
            .then(data=>data.json())
            //.then(data=>console.log(data))
            .then(data=>listarVerificadores(data))
        }

        let matVer = []  // Global
        let matMar = []  // Verificadores seleccionados.
        
        function listarVerificadores(data){
            let disVer = document.getElementById('cu13_listarVerificadores')
            disVer.innerHTML = "hola"
            matVer = data;
 
            let str  = "";
            let str2 = "";
            let str3 = "";
            
            for(var i=0 ; i<data.length ; i++){
                matMar[i]== null ? str3 = "&nbsp;" : str3 = "X";
                str2 = JSON.stringify(data[i])
                str += "<p><button onclick='selVer(this)' "+
                    "id='"+str2+"'"+
                    ">"+str3+"</button>&nbsp;" + data[i].nombre + "</p>"
            }

            disVer.innerHTML = str;
        }

        function selVer(data){

            // Obtengo el objeto
            let eveObj = JSON.parse(data.getAttribute('id'));

            // Recorro el vector de objetos para ver cuál es el seleccionado
            let i=-1
            do{
                i += 1;    
            } while(matVer[i].nomUsu != eveObj.nomUsu);

            //console.log(i)

            // cambio el estado de marca
            matMar[i]==null?matMar[i]=true:matMar[i]=null;
            
            console.log(matMar);
            listarVerificadores(matVer)

        }

    </script>
    
    

    <script>
        function volver(){
            location.href = "http://localhost:3000";
        }
    </script>
</body>
</html>